.git
.github
.pio
node_modules
docs/site

*.dat
*.log
*.o
OpenSprinkler
logs
data
testmode.h

.codex
CLAUDE.md
GEMINI.md
TestOSAPI*.html
opensprinkler-logo*.stl
opensprinkler-logo*.svg
os_logo_bw.png
