[Unit]
Description=OpenSprinkler
Documentation=https://github.com/OpenSprinkler
Requires=multi-user.target network.target network-online.target
After=multi-user.target network.target network-online.target

[Service]
Type=exec
User=root
Group=root
WorkingDirectory=__OpenSprinkler_Path__
ExecStart=__OpenSprinkler_Path__/OpenSprinkler
StandardOutput=null
#StandardOutput=syslog
#SyslogIdentifier=opensprinkler
StandardError=journal
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
