[Unit]
Description=OpenSprinkler
Requires=multi-user.target network.target network-online.target
After=multi-user.target network.target network-online.target

[Service]
Type=exec
Restart=always
RestartSec=1
User=root
WorkingDirectory=__OpenSprinkler_Path__
ExecStart=/bin/bash -c ./startOpenSprinkler.sh
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target
