[Unit]
Description=OpenSprinkler
Documentation=https://github.com/OpenSprinkler
After=network.target

[Service]
Type=exec
User=root
Group=root
WorkingDirectory=__OpenSprinkler_Path__
ExecStart=__OpenSprinkler_Path__/OpenSprinkler
StandardOutput=null
#StandardOutput=syslog
#SyslogIdentifier=opensprinkler
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
